AI Image Generator.json
{
  "name": "AI Image Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "Isi Informasi Dibawah Ini Untuk Memulai Proses Generate Gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -24
      ],
      "id": "c46f5a47-59ee-4589-9e2d-72980862a96b",
      "name": "Submit Text Prompt Untuk Generate Gambar",
      "webhookId": "6c06487d-4e28-4c27-b4cc-90f54a8ed9b7"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        -24
      ],
      "id": "6dbdfa80-a71c-4e3a-acbb-5d600978931e",
      "name": "Menunggu proses generate gambar",
      "webhookId": "58c58d45-0442-4b9f-b399-b140b02c21e0"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Submit Text Prompt Untuk Generate Gambar\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -96
      ],
      "id": "48808db3-8e4b-4e18-8cc5-bbe06fdb32b5",
      "name": "Mendapatkan status generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "474ee66b-fe9f-409f-a3b6-8d315f1dae8a",
              "leftValue": "success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -24
      ],
      "id": "b227120e-041a-4ebc-ab41-c473e1910e0e",
      "name": "check jika generate sudah selesai"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"grok-imagine/text-to-image\",\n    \"input\": {\n        \"prompt\": \"{{ $json.Prompt.replace(/\"/g, '\\\\\"')}}\",\n        \"aspect_ratio\": \"3:2\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -24
      ],
      "id": "7915d586-2f84-494e-a8ac-d143c555f91e",
      "name": "Mengirim Image Generation Request Ke KIE.AI API"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -24
      ],
      "id": "61ad097f-ee27-49b0-8011-08667642de8d",
      "name": "Format Result"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -24
      ],
      "id": "d1f0a1d4-2eb9-4b69-92d7-432750a448e9",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1054283386",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -16
      ],
      "id": "99a717c3-8033-47bb-9b0c-7ebfefe8097e",
      "name": "Send a photo message",
      "webhookId": "b4c809a7-5362-48fd-bd6e-c849918fcc78",
      "credentials": {
        "telegramApi": {
          "id": "uyp76d1EJRn1jYfu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -24
      ],
      "id": "58636178-1cbd-4973-a6d6-a6c65c80e2d3",
      "name": "Download Gambar"
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Text Prompt Untuk Generate Gambar": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request Ke KIE.AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu proses generate gambar": {
      "main": [
        [
          {
            "node": "Mendapatkan status generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan status generate": {
      "main": [
        [
          {
            "node": "check jika generate sudah selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check jika generate sudah selesai": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu proses generate gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request Ke KIE.AI API": {
      "main": [
        [
          {
            "node": "Menunggu proses generate gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "41fda943-0a26-4b2d-a8b0-879cd1195d52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7d0d8d05552af987471c130c5fe82557379d9aa61d65e5fce12388cc53b90a8"
  },
  "id": "6CDaeYB4sAcWQwVK",
  "tags": []
}